<h1>All Mechanics</h1>
<p>Average experience of Mechanics: <%= @avg_years.round(2) %></p>

<% @mechanics.each do |mechanic| %>
  <div id="mechanic_<%= mechanic.id%>">
  <h3>Name: <%= mechanic.name %></h3>
  <p>Years of experience: <%= mechanic.years_experience %></p>
  </div>
<% end %>